{% extends '::base.html.twig' %}
{% block body %}
<div class="page-content">
    <section>
        <h2>Active polls</h2>
        <p>You can vote on the following polls.</p>
        <ul>
        {% for poll in polls %}
            <li><a href="{{ url('_poll_show', { 'id': poll.getID(), 'slug': poll.getSlug() }) }}">{{ poll.getTitle() }}</a></li>
        {% endfor %}
        </ul>
    </section>
</div>
{% endblock %}